.diagram {
    background-color: burlywood
}

.custom-node {
    width: 250px;
    height: 114px;
}
.custom-node-extended {
    width: 480px;
}

.custom-node .card {
    border: 3px solid transparent;
}

.custom-node .isSelected {
    border-color: #0d6efd;
    z-index: 2147483646;
}

.custom-node .isSelected .port {
    z-index: 2147483647;
}

.custom-node .port {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    visibility: visible;
    margin: -10px;
}

.custom-node .port.locked {
    visibility: hidden;
}

.custom-node .port.bottom {
    bottom: 0px;
    left: 50%;
}

.custom-node .port.top {
    top: 0px;
    left: 50%;
}

.custom-node .port.left {
    left: 0px;
    top: 50%;
}

.custom-node .port.right {
    right: 0px;
    top: 50%;
}