.we-editor {
    display: flex;
    height: 100%;
}

.we-designer {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.we-activity-path {
    flex: none;
    height: 24px;
}

.we-diagram {
    flex: auto;
}

.we-custom-node {
    width: 250px;
    height: 114px;
}

.we-custom-node-extended {
    width: 480px;
}

.we-custom-node .card {
    border: 3px solid transparent;
}

.we-custom-node .isSelected {
    border-color: #0d6efd;
    z-index: 2147483646;
}

    .we-custom-node .isSelected .port {
        z-index: 2147483647;
    }

.we-custom-node .port {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    visibility: visible;
    margin: -10px;
}

    .we-custom-node .port.locked {
        visibility: hidden;
    }

    .we-custom-node .port.bottom {
        bottom: 0px;
        left: 50%;
    }

    .we-custom-node .port.top {
        top: 0px;
        left: 50%;
    }

    .we-custom-node .port.left {
        left: 0px;
        top: 50%;
    }

    .we-custom-node .port.right {
        right: 0px;
        top: 50%;
    }

.we-autocomplete {
    position: relative;
}

    .we-autocomplete .options {
        position: absolute;
        top: 40px;
        left: 0;
        background: white;
        width: 100%;
        padding: 0;
        z-index: 10;
        border: 1px solid #ced4da;
        border-radius: 0.5rem;
        box-shadow: 0 30px 25px 8px rgba(0, 0, 0, 0.1);
        max-height: 500px;
        overflow: auto;
    }

    .we-autocomplete .option {
        display: block;
        padding: 0.25rem;
    }

    .we-autocomplete .option-filter {
        display: block;
        padding: 0.25rem;
    }

    .we-autocomplete .option .option-text {
        padding: 0.25rem 0.5rem;
    }

    .we-autocomplete .option:hover {
        background: #1E90FF;
        color: #fff;
    }

    .we-autocomplete .option.disabled {
        background-color: lightgrey;
        cursor: not-allowed;
    }

        .we-autocomplete .option.disabled:hover {
            background: lightgrey;
            color: var(--bs-body);
        }


/*Toolbox*/
.we-toolbox {
    width: 400px;
    background-color: bisque;
}
.we-toolbox-collapsed {
    width: 36px;
    background-color: bisque;
}
    .we-toolbox .we-toolbox-table_header {
        cursor:pointer;
        background-color: deepskyblue;
        padding: 0px;
        display: flex;
        align-items: center;
    }

    .we-toolbox .we-toolbox-search {
        display: flex;
        margin: 4px;
    }

    .we-toolbox .groupItem {
        margin-bottom: 8px;
    }

        .we-toolbox .groupItem .groupName {
            cursor: pointer;
            background-color: lightgray;
        }

        .we-toolbox .groupItem .activityItem {
            cursor: move;
            padding-left: 12px;
        }

        .we-toolbox .groupItem .activityItemWithoutIcon {
            cursor: move;
            padding-left: 30px;
        }


/*Variables*/
.we-variables-table {
    max-height: 30vh;
    overflow: auto;
    background-color: aliceblue;
}

    .we-variables-table .we-variables-table_header {
        background-color: deepskyblue;
        padding: 0px;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

.we-options {
    width: 100%;
    padding: 0;
}

.we-vtc-options .option {
    display: block;
    /* padding-left: 2rem; */
}

    .we-vtc-options .option .option-text {
        padding: 0.25rem 0.5rem;
    }


.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}
