@using System.Activities
@using System.Text
@inherits LayoutComponentBase
@inject IJSRuntime JS


<PageTitle>Workflow editor</PageTitle>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Workflow editor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="New">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="Load">Load</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="Save">Save</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTest" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Test Activity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTest">
                        <li><a class="dropdown-item" href="#" @onclick="loadTestActivity">LoadTestActivity</a></li>
                        <li><a class="dropdown-item" href="#" @onclick="loadTest2Activity">LoadTest2Activity</a></li>
                        <li><a class="dropdown-item" href="#" @onclick="loadTest3Activity">LoadTest3Activity</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Theme
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#" @onclick="@(()=>changeTheme("light"))">Light</a></li>
                        <li><a class=" dropdown-item" href="#" @onclick="@(()=>changeTheme("dark"))">Dark</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<Blazor.WorkflowEditor.Editor @ref="editor" ToolBoxGroups="groups" TypeCollection="TypeCollection" />


@code {
    private Blazor.WorkflowEditor.Editor? editor = default!;
    private List<Blazor.WorkflowEditor.ToolBoxGroup> groups { get; set; } = new()!;
    private List<Type> TypeCollection { get; set; } = new()!;


    private async void changeTheme(string theme)
    {
        await JS.InvokeVoidAsync("enableTheme", theme);
    }

    protected override void OnInitialized()
    {

        var defaultGroup = new Blazor.WorkflowEditor.ToolBoxGroup() { Name = "Default" };
        defaultGroup.Add<System.Activities.Statements.Sequence>();
        defaultGroup.Add<System.Activities.Statements.Assign>("oi oi-pencil");
        defaultGroup.Add<System.Activities.Statements.WriteLine>("oi oi-pencil");
        groups.Add(defaultGroup);

        var testGroup = new Blazor.WorkflowEditor.ToolBoxGroup() { Name = "Test" };
        testGroup.Add<System.Activities.Statements.Assign>();
        testGroup.Add<System.Activities.Statements.Assign>();
        testGroup.Add(typeof(System.Activities.Statements.AddToCollection<>), "oi oi-pencil");
        groups.Add(testGroup);

        TypeCollection.Add(Type.GetType("System.Object"));
        TypeCollection.Add(Type.GetType("System.Int32"));
        TypeCollection.Add(Type.GetType("System.String"));
        TypeCollection.Add(Type.GetType("System.Boolean"));
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // if (firstRender)
        // editor.RegisterModelComponent();

    }

    private void New()
    {

    }

    private async void Save()
    {
        if (editor != null)
        {
            var source = editor.Save();
            Console.WriteLine(source);
            using var streamRef = new DotNetStreamReference(stream: new MemoryStream(Encoding.UTF8.GetBytes(source)));
            await JS.InvokeVoidAsync("downloadFileFromStream", "test.xaml", streamRef);
        }
    }

    private void Load()
    {

    }

    void loadTestActivity()
    {
        var text = @"
<Sequence
xmlns=""http://schemas.microsoft.com/netfx/2009/xaml/activities""
xmlns:x=""http://schemas.microsoft.com/winfx/2006/xaml"">
<Sequence.Variables>
<Variable x:TypeArguments=""x:String"" Name=""TestVar"" />
</Sequence.Variables>
<WriteLine Text=""Hello World!"" />
</Sequence>";
        if (editor != null)
            editor.Load(text);

    }

    void loadTest2Activity()
    {
        var text = @"
<Sequence
xmlns=""http://schemas.microsoft.com/netfx/2009/xaml/activities""
xmlns:scg=""clr-namespace:System.Collections.Generic;assembly=mscorlib""
xmlns:x=""http://schemas.microsoft.com/winfx/2006/xaml"">
<x:Members>
<x:Property Name=""Numbers"" Type=""InArgument(x:Int32)"" />
<x:Property Name=""Average"" Type=""OutArgument(x:String)"" />
<x:Property Name=""Var1"" Type=""x:Int32"" />
</x:Members>
<TextExpression.NamespacesForImplementation>
<scg:List x:TypeArguments=""x:String"" Capacity=""16"">
<x:String>System</x:String>
<x:String>System.Linq</x:String>
<x:String>System.Collections.Generic</x:String>
</scg:List>
</TextExpression.NamespacesForImplementation>
<TextExpression.ReferencesForImplementation>
<scg:List x:TypeArguments=""AssemblyReference"" Capacity=""1"">
<AssemblyReference>System.Activities, Version=4.0.0.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35</AssemblyReference>
</scg:List>
</TextExpression.ReferencesForImplementation>
<Sequence>
<Sequence.Variables>
<Variable x:TypeArguments=""x:Int32"" Name=""TestVar"" Default=""12345"" />
</Sequence.Variables>
<WriteLine Text=""test1"" />
<WriteLine Text=""test2"" />
<WriteLine Text=""test3"" />
</Sequence>
</Sequence>";

        if (editor != null)
            editor.Load(text);
    }

    void loadTest3Activity()
    {
        var text = @"
<?xml version=""1.0"" encoding=""UTF-8""?>
<Activity xmlns=""http://schemas.microsoft.com/netfx/2009/xaml/activities""
xmlns:av=""http://schemas.microsoft.com/winfx/2006/xaml/presentation""
xmlns:mc=""http://schemas.openxmlformats.org/markup-compatibility/2006""
xmlns:mva=""clr-namespace:Microsoft.VisualBasic.Activities;assembly=System.Activities""
xmlns:sads=""http://schemas.microsoft.com/netfx/2010/xaml/activities/debugger""
xmlns:sap=""http://schemas.microsoft.com/netfx/2009/xaml/activities/presentation""
xmlns:sap2010=""http://schemas.microsoft.com/netfx/2010/xaml/activities/presentation""
xmlns:scg=""clr-namespace:System.Collections.Generic;assembly=mscorlib""
xmlns:sco=""clr-namespace:System.Collections.ObjectModel;assembly=mscorlib""
xmlns:x=""http://schemas.microsoft.com/winfx/2006/xaml""
mc:Ignorable=""sap sap2010 sads""
x:Class=""{x:Null}"">
<x:Members></x:Members>
<mva:VisualBasic.Settings>
<x:Null />
</mva:VisualBasic.Settings>
<TextExpression.NamespacesForImplementation>
<sco:Collection x:TypeArguments=""x:String"">
<x:String>System.Activities</x:String>
<x:String>System.Activities.Statements</x:String>
<x:String>System.Activities.Expressions</x:String>
<x:String>System.Activities.Validation</x:String>
<x:String>System.Activities.XamlIntegration</x:String>
<x:String>Microsoft.VisualBasic.Activities</x:String>
<x:String>System</x:String>
<x:String>System.Collections</x:String>
<x:String>System.Collections.Generic</x:String>
<x:String>System.Data</x:String>
<x:String>System.Linq</x:String>
<x:String>System.Xml</x:String>
</sco:Collection>
</TextExpression.NamespacesForImplementation>
<TextExpression.ReferencesForImplementation>
<sco:Collection x:TypeArguments=""AssemblyReference"">
<AssemblyReference>System.Activities</AssemblyReference>
<AssemblyReference>mscorlib</AssemblyReference>
<AssemblyReference>system</AssemblyReference>
<AssemblyReference>System.Data</AssemblyReference>
<AssemblyReference>System.Core</AssemblyReference>
<AssemblyReference>System.Xml</AssemblyReference>
<AssemblyReference>PresentationFramework</AssemblyReference>
<AssemblyReference>WindowsBase</AssemblyReference>
<AssemblyReference>PresentationCore</AssemblyReference>
<AssemblyReference>System.Xaml</AssemblyReference>
</sco:Collection>
</TextExpression.ReferencesForImplementation>
<Flowchart>
<Flowchart.StartNode>
<FlowStep x:Name=""__ReferenceID0"">
<Assign DisplayName=""Assign 1"" sap2010:WorkflowViewState.IdRef=""Assign_1"" />
<FlowStep.Next>
<FlowStep x:Name=""__ReferenceID1"">
<Sequence>
<Assign DisplayName=""Assign 2"" sap2010:WorkflowViewState.IdRef=""Assign_2"" />
<Assign DisplayName=""Assign 3"" sap2010:WorkflowViewState.IdRef=""Assign_3"" />
<sap2010:WorkflowViewState.IdRef>Sequence_1</sap2010:WorkflowViewState.IdRef>
</Sequence>
<sap2010:WorkflowViewState.IdRef>FlowStep_1</sap2010:WorkflowViewState.IdRef>
</FlowStep>
</FlowStep.Next>
<sap2010:WorkflowViewState.IdRef>FlowStep_2</sap2010:WorkflowViewState.IdRef>
</FlowStep>
</Flowchart.StartNode>
<x:Reference>__ReferenceID0</x:Reference>
<x:Reference>__ReferenceID1</x:Reference>
<sap2010:WorkflowViewState.IdRef>Flowchart_1</sap2010:WorkflowViewState.IdRef>
<sads:DebugSymbol.Symbol>dw1DOlxFbXB0eS54YW1sAA==</sads:DebugSymbol.Symbol>
</Flowchart>
<sap2010:WorkflowViewState.IdRef>ActivityBuilder_1</sap2010:WorkflowViewState.IdRef>
<sap2010:WorkflowViewState.ViewStateManager>
<sap2010:ViewStateManager>
<sap2010:ViewStateData Id=""Assign_1"" sap:VirtualizedContainerService.HintSize=""240.5,60"">
<sap:WorkflowViewStateService.ViewState>
<scg:Dictionary x:TypeArguments=""x:String, x:Object"">
<x:Boolean x:Key=""IsExpanded"">True</x:Boolean>
</scg:Dictionary>
</sap:WorkflowViewStateService.ViewState>
</sap2010:ViewStateData>
<sap2010:ViewStateData Id=""Assign_2"" sap:VirtualizedContainerService.HintSize=""240.5,60"" />
<sap2010:ViewStateData Id=""Assign_3"" sap:VirtualizedContainerService.HintSize=""240.5,60"" />
<sap2010:ViewStateData Id=""Sequence_1"" sap:VirtualizedContainerService.HintSize=""216,49"">
<sap:WorkflowViewStateService.ViewState>
<scg:Dictionary x:TypeArguments=""x:String, x:Object"">
<x:Boolean x:Key=""IsExpanded"">True</x:Boolean>
</scg:Dictionary>
</sap:WorkflowViewStateService.ViewState>
</sap2010:ViewStateData>
<sap2010:ViewStateData Id=""FlowStep_1"">
<sap:WorkflowViewStateService.ViewState>
<scg:Dictionary x:TypeArguments=""x:String, x:Object"">
<av:Point x:Key=""ShapeLocation"">162,315.5</av:Point>
<av:Size x:Key=""ShapeSize"">216,49</av:Size>
</scg:Dictionary>
</sap:WorkflowViewStateService.ViewState>
</sap2010:ViewStateData>
<sap2010:ViewStateData Id=""FlowStep_2"">
<sap:WorkflowViewStateService.ViewState>
<scg:Dictionary x:TypeArguments=""x:String, x:Object"">
<av:Point x:Key=""ShapeLocation"">59.75,150</av:Point>
<av:Size x:Key=""ShapeSize"">240.5,60</av:Size>
<av:PointCollection x:Key=""ConnectorLocation"">180,210 180,240 270,240 270,315.5</av:PointCollection>
</scg:Dictionary>
</sap:WorkflowViewStateService.ViewState>
</sap2010:ViewStateData>
<sap2010:ViewStateData Id=""Flowchart_1"" sap:VirtualizedContainerService.HintSize=""614,636"">
<sap:WorkflowViewStateService.ViewState>
<scg:Dictionary x:TypeArguments=""x:String, x:Object"">
<x:Boolean x:Key=""IsExpanded"">False</x:Boolean>
<av:Point x:Key=""ShapeLocation"">270,2.5</av:Point>
<av:Size x:Key=""ShapeSize"">60,75</av:Size>
<av:PointCollection x:Key=""ConnectorLocation"">270,40 180,40 180,150</av:PointCollection>
</scg:Dictionary>
</sap:WorkflowViewStateService.ViewState>
</sap2010:ViewStateData>
<sap2010:ViewStateData Id=""ActivityBuilder_1"" sap:VirtualizedContainerService.HintSize=""654,716"" />
</sap2010:ViewStateManager>
</sap2010:WorkflowViewState.ViewStateManager>
</Activity>";
        if (editor != null)
            editor.Load(text);
    }

}
