.options {
  width: 100%;
  padding: 0;
}
.options .option {
  display: block;
  /* padding-left: 2rem; */
}

.options .option .option-text {
  padding: 0.25rem 0.5rem;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}