.editor .diagram-editor .diagram-main .diagram {
  height: 100%;
}

.variables-table {
  max-height: 500px;
  overflow: auto;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}