.editor{
    display: flex;
    height: 95vh;
}

.editor .toolbox{
    flex: none;
    width: 400px;
}

.editor .toolbox .caption {
    display: flex;
    justify-content: flex-end;
}

.editor .groupItem {
    padding: 2px;
}

.editor .groupItem .groupName {
    font-weight: bold;
    cursor: default;
}

.editor .groupItem .activityItem {
    cursor: move;
    padding-left: 12px;
}

.editor .groupItem .activityItemWithoutIcon {
    cursor: move;
    padding-left: 30px;
}

.editor .diagram-editor{
    flex:2;
    display: flex;
    flex-direction: column;    
    height: 100%;
}

.editor .diagram-editor .diagram-path{
    flex: none;
    height: 24px;    
}

.editor .diagram-editor .diagram-main {
    flex: auto;
}

.editor .diagram-editor .diagram-main .diagram{
    height: 100%;
}

.editor .diagram-editor .variables{
    flex:none;
}

.editor .diagram-editor .variables .variables-table{
    max-height: 500px;
    overflow: auto;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }